.widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: lightgrey;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
}

.day-item {
  padding: 25px;
  padding-bottom: 35px;
}
