.widget {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1150px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: lightgrey;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
}

.day-item {
  padding: 35px;
  padding-top: 15px;
}
